<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
        }

        .label-cell {
            text-align: right;
        }

        .input-cell {
            width: 150px; 
        }

        .table-container {
            text-align: left;
            width: 500px; 
        }

        table {
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="table-container">
    <form action="/users/login" method="POST"> <!-- Specify the action and method -->
        <table>
            <tr>
                <td class="label-cell"><h2>Login</h2></td>
                <td class="label-cell"><h2><%= displayMessage %> <%= displayUsername %></h2></td>
            </tr>
            <tr>
                <td class="label-cell"><label for="username">Username</label></td>
                <td class="input-cell"><input type="text" id="username" name="username" class="small-input" required></td>
            </tr>
            <tr>
                <td class="label-cell"><label for="password">Password</label></td>
                <td class="input-cell"><input type="password" id="password" name="password" class="small-input" required></td>
            </tr>
            <tr>
                <td></td> <!-- An empty cell for spacing -->
                <td><input type="submit" value="Login"></td> <!-- Submit button -->
            </tr>
        </table>
    </form>
</div>
</body>
</html>
