<!DOCTYPE html>
<html>
<head>
  <title>Welcome Page</title>
  <style>
    /* Reset default margin and padding for body */
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif; /* Use a commonly available font */
      background-color: #f0f0f0; /* Background color for the entire page */
    }

    /* Center the content horizontally and vertically */
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Full viewport height */
    }

    /* Style for the heading */
    h1 {
      font-size: 36px;
      color: #333; /* Dark text color */
      margin-bottom: 20px;
    }

    /* Style for the list */
    ul {
      list-style-type: none;
      padding: 0;
    }

    /* Style for list items */
    li {
      margin: 20px 0; /* Increased margin for spacing */
      text-align: center; /* Center-align the text within list items */
    }

    /* Style for links */
    a {
      text-decoration: none;
      padding: 10px 20px;
      background-color: #0074d9; /* Button background color */
      color: #fff; /* Button text color */
      border-radius: 5px;
    }

    /* Hover effect for links */
    a:hover {
      background-color: #0056b3; /* Darker background color on hover */
      color: #fff; /* Change text color on hover */
    }
  </style>
</head>
<body>
<h1>Main page</h1>
<ul>
  <li><a href="/users/signup">Sign Up</a></li>
  <li><a href="/users/login">Log In</a></li>
</ul>
</body>
</html>
